body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: montserrat;
    height: 100vh; 
    overflow: hidden;
    background-size: 100% 100%;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 535px;
    background: rgb(244, 240, 240);
    border-radius: 50px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: px solid rgb(241, 241, 241);
}
.center form{
    padding: 0 20px;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
}
form .text_field{
    position: relative;
    border-bottom: 2px solid #faf9f9;
    margin: 30px 0;
    text-align: center;
}
.text_field input{
    position: relative;
    width: 50%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    text-align: center;
}
.text_field label{
    position: absolute;
    top: 50%;
    left: 50px;
    color: #d3d2d2;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.text_field span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #444646;
}
.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #2291d9
}
.text_fieldinput input:focus ~ span::before,
.text_fieldinput input:valid ~ span::before{
    width: 100%;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    margin-bottom: 300px;
    background: #2691d9;
    border-radius: 50px;
    font-size: 18px;
    color: #eee;
    font-weight: 700;
    cursor: pointer;
    outline: none;

}
input[type="submit"]:hover{
    margin-bottom: 150px;
    border-color: #2691d9;
    transition: .5s; 
}



 