body{
    background: #eee;
}

#side_nav{
    background: #4c3ae9;
    min-width: 250px;
    max-width: 250px;
}

.content{
    min-height: 100vh;
    width: 100%;   
}
h1 {
    text-align: center;
}
hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}
.sidebar li a{
    color: #fff;
}

.sidebar img1{
    height: 800px;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Dashboard{
    background:linear-gradient(-45deg, rgb(159, 56, 56) 30%, yellow 0%);
}

@media(max-width:768px){
    #side_nav{
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index 1;
    }
}
.box_header{
position: absolute;
width: 450px;
height: 500px;
left: 417px;
top: 170px;
}